<a href="https://colab.research.google.com/github/rian-souza/Airbnb-Inteligencia-de-Dados-Jul-Dez-2023/blob/main/Airbnb_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv("/content/Airbnb_site_hotel new.csv")

df.head()
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15793 entries, 0 to 15792
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         15793 non-null  int64
 1   name                       15793 non-null  object
 2   host_id                    15793 non-null  int64
 3   host_name                  15793 non-null  object
 4   city                       15793 non-null  object
 5   price                      15793 non-null  int64
 6   reply time                 15793 non-null  int64
 7   guest favourite            15793 non-null  int64
 8   host since                 15793 non-null  int64
 9   host Certification         14866 non-null  float64
 10  room_type                  15792 non-null  float64
 11  host total listings count  15792 non-null  float64
 12  consumer                   15792 non-null  object
 13  total reviewers number     15792 non-null  float64
 14  accommodates               15792 non-null  float64
 15  bathrooms                  15792 non-null  object
 16  bedrooms                   15792 non-null  float64
 17  beds                       15792 non-null  float64
 18  listing number             15792 non-null  float64
 19  host response rate         15792 non-null  object
 20  host acceptance rate       15792 non-null  object
 21  sales                      15792 non-null  float64
 22  area                       15792 non-null  object
dtypes: float64(9), int64(6), object(8)
memory usage: 2.8+ MB

id                             0
name                           0
host_id                        0
host_name                      0
city                           0
price                          0
reply time                     0
guest favourite                0
host since                     0
host Certification           927
room_type                      1
host total listings count      1
consumer                       1
total reviewers number         1
accommodates                   1
bathrooms                      1
bedrooms                       1
beds                           1
listing number                 1
host response rate             1
host acceptance rate           1
sales                          1
area                           1
dtype: int64